<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CATS DAILY</title>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <h1>DAILY CATS</h1>

  <div class="container">
    <h2>Some Jokes</h2>
    <form action="/" id="form" class="form" method="POST">
      <select name="type" class="form-select">
        <option value="Any" data-display="Select">Random type</option>
        <option value="Misc" data-display="Select">Miscellaneous</option>
        <option value="Programming" data-display="Select">Programming</option>
        <option value="Dark" data-display="Select">Dark</option>
        <option value="Pun" data-display="Select">Pun</option>
        <option value="Spooky" data-display="Select">Spooky</option>
        <option value="Christmas" data-display="Select">Christmas</option>
      </select>
      <div class="flags">
        <input type="checkbox" name="blacklistFlags" value="nsfw">NSFW
        <input type="checkbox" name="blacklistFlags" value="religious">Religious
        <input type="checkbox" name="blacklistFlags" value="political">Political
        <input type="checkbox" name="blacklistFlags" value="racist">Racist
        <input type="checkbox" name="blacklistFlags" value="sexist">Sexist
      </div>
      <input type="checkbox" name="contains" value="cat">Cat in the Joke or Joke in a Cat?
      <button type="submit" class="form-submit">Go</button>
    </form>

    <section id="cards" class="cards">
      <% if (locals.data) {%>
      <article class="card-item">
        <h2 class="card-activity">
          <%= data.setup %>
          <%= data.joke %>
        </h2>
        <h2 class="card-followup">
          <%= data.delivery %>
        </h2>
      </article>
      <%}%>
      <%if (locals.error) {%>
      <div class="error">
        <%= error %>
      </div>
      <%}%>
  </div>
</body>

</html>